*{
    font-family:'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #37383C;
    color: #ffff;
}
@media(max-width:767px){
    /* header */
    header{
       
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 95px;
        position: relative;
    }
   nav{
       width: 100%;
       background-color: #000000;
       height: 0;
       overflow: hidden;
       position: absolute;
       display: flex;
       flex-direction: column;
       top: 80px;
       left: -5px;
       transition: 1.5s all ease;
   }
    nav.open{
        height:484px ;
    }
    .enlaces-nav{
        font-weight: bold;
        font-size: 15px;
        color: #FFFFFF;
        text-align: center;
        line-height: 60px;
      
    }
    .buscar-mas{
        display: none;
    }
    .contenedor-logo{
        margin-top: 10px;
        margin-left: 2%;
    }
    .img-logo{
        width: 50px;
        height: 50px;
    }
    /* main */
    main{
        width: 100%;
        margin: 40px 0 ;   
    }
    .contenedor-titulo{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1.titulo{
        width: 300px;
        padding: 20px;
        margin-bottom: 20px;
        font-size: 35px;
        color:#FFFFFF;
    }
    h1 span.gifos-titulo{
        color:#50E3C2 ;
    }
    
    .buscador{
        margin-top: 5px;
        width: 300px;
        height: 30px;
        border-radius: 27px;
     }
     #buscador{
        border-radius: 27px;
    } 
     
    .buscador::placeholder{
        padding: 25px;
        font-family: Roboto-Regular;
        font-size: 16px;
        color: #9CAFC3;
        text-align: left;
    }
    .btn-buscar{
        width: 250px; 
        color: white;
        background-color: #572EE5;  
    }
    .buscador::placeholder{
        padding: 25px;
        font-family: Roboto-Regular;
        font-size: 16px;
        color: #9CAFC3;
        text-align: left;
    }
    .btn-buscar{
        width: 250px; 
        color: white;
        background-color: #572EE5;  
    }

    /* contenedor trending */
    .contenedor-trending{
        width: 450px;
        margin: auto;
    }
    .contenedor-trending h2{
      
        font-size: 18px;
        color: #FFFFFF;
        text-align: center;
        line-height: 25px;
    }
    .contenedor-trending p{
        font-weight: 100;
        font-size: 16px;
        color: #FFFFFF;
        text-align: center;
        line-height: 25px;
    }
    .seccion-trending{
        background: #222326;
        min-height: 550px;
    }
    .seccion-trending h2{
        padding-top: 40px;
        font-size: 25px;
        color: #FFFFFF;
        text-align: center;
        line-height: 30px;
    }
    .titulos{
        padding-top: 40px;
        font-size: 25px;
        color: #FFFFFF;
        text-align: center;
        line-height: 30px;
    }
    .seccion-trending p{
        font-family: Roboto-Regular;
        font-size: 18px;
        color: #000000;
        text-align: center;
    }
    .contenedor-respuesta{
        margin-top: 4%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .contenedor-gifos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0 25px;
    }
    .iframe{
        margin: 10px 0 ;
        width: 480px;
        height: 270px;
    }
    
    
    /* footer */
    
    footer{
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .redes{
        margin-left: 10px;
        padding: 10px;
    }

    /* busqueda */
    section.seccion-busqueda.open{
        padding: 50px;
        min-height: 600px;
        margin: 80px 0 80px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .border{
        width: 200px;
        height: 1px;
        border-top: 1px solid #9CAFC3;
    }
    
    
    
}


/* CSS DEL HEADER */
@media(min-width:768px){
    header{
        padding-left: 20px;
        padding-right: 20px;
        height: 150px;
        display: flex;
        justify-content: space-between;
    }
    .contenedor-logo{
        margin-top: 10px;
        margin-left: 10%;
    }
    .img-logo{
        width: 50px;
        height: 50px;
    }
    .burger-menu{
        display: none;
    }
    nav{
        margin-top:10px;
        margin-right: 15%;
    }
    .enlaces-nav{
        font-size: 15px;
        margin: 0 25px;
        padding: 10px;
        text-decoration: none;
        color:#ffff;
    }
    .buscar-mas{
        width: 40px;
        height: 40px;
    }
    
    /* CSS DEL MAIN */
    
    
    main{
        width: 100%;
        margin: 40px 0 ;   
    }
    .contenedor-titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1.titulo{
        width: 480px;
        padding: 20px;
        margin-bottom: 20px;
        font-size: 35px;
        color:#ffff;
    }
    h1 span.gifos-titulo{
        color: #50E3C2;
    }
    .buscador{
        margin-top: 5px;
        width: 480px;
        height: 30px;
        border-radius: 27px;
        background-color: #37383C;
    }
    
    #buscador{
        border-radius: 27px;
    }
    .buscador::placeholder{
        padding: 25px;
        font-family: Roboto-Regular;
        font-size: 16px;
        color: #9CAFC3;
        text-align: left;
    }
    
    /* Contenedor trending */
    
    .contenedor-trending{
        width: 450px;
        margin: auto;
    }
    .contenedor-trending h2{
      
        font-size: 18px;
        color:#ffffff;
        text-align: center;
        line-height: 25px;
    }
    .contenedor-trending p{
        font-weight: 100;
        font-size: 16px;
        color: #ffffff;
        text-align: center;
        line-height: 25px;
    }
    
    /* seccion trending */
    
    .seccion-trending{
        background: #222326;
        min-height: 550px;
    
    }
    .seccion-trending h2{
        padding-top: 40px;
        font-size: 25px;
        color: #ffffff;
        text-align: center;
        line-height: 30px;
    }
    .seccion-trending p{
        font-family: Roboto-Regular;
        font-size: 18px;
        color: #ffffff;
        text-align: center;
    }
    .contenedor-respuesta{
        margin-top: 4%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .contenedor-gifos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0 25px;
    }
    .iframe{
        margin: 10px 0 ;
        width: 480px;
        height: 270px;
    }
    
    
    
    
    /* FOOTER */
    
    footer{
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .contenedor-redes{
        display: flex;
        padding: 50px;
    }
    .contenedor-redes p{
        margin: 5px;
        font-family: Roboto-Regular;
        font-size: 15px;
        color: #ffffff;
        letter-spacing: 0;
    }
    .contenedor-redes li{
        margin:  5px;
    }
    
    .contenedor-derechos{
        padding: 50px;
    }
    .contenedor-derechos p{
        font-family: Roboto-Regular;
        font-size: 15px;
        color: #ffffff;
        letter-spacing: 0;
        
    }
    .titulos{
        padding-top: 40px;
        font-size: 25px;
        color: #572EE5;
        text-align: center;
        line-height: 30px;
    }
    
}
